<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
  ALOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    <h1>Modifie le potin n°<%= index %></h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/<%= index %>/edit' method='POST'>
      Modifie ton potin : <input type='text' name='gossip_content_edit'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>