<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views ! C'est énooooorme </h1>
    <a href="/gossips/new/">Ajouter un nouveau Gossip</a>

    <% gossips.each_with_index do |gossip,index| %>
      <p>
        <%= gossip.author %><br/>
        <a href="/gossips/<%=index%>"><%= gossip.content %></a>
      </p>
    <% end %>

    <p> Rechercher un gossip </p>
    <form action='/' method='POST'>
      Saisi ici le numéro du gossip :  <input type='text' name='index'/><br/>
      <input type='submit'/>
    </form>

  </body>
</html>