<html>
  <head>
    <title>Connecte-toi</title>
  </head>
  <body>
    <h1>Connecte-toi !</h1>
    
    <form action='/signin' method='POST'>
      Saisi ici ton nom de compte :  <input type='text' name='user_account'/><br/>
      Balance ton mot de pass : <input type='text' name='user_password'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>