<html>
  <head>
    <title>Crée un compte</title>
  </head>
  <body>
    <h1>Crée un compte</h1>
    
    <form action='/signup' method='POST'>
      Nom de compte :  <input type='text' name='user_account'/><br/>
      Mot de pass : <input type='text' name='user_password'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>